# Generate your key using:
# openssl genpkey -algorithm RSA -pkeyopt rsa_keygen_bits:2048 -out private.pem
# openssl rsa -in private.pem -pubout -out public.pem
#
# If the command above does not work, you can generate a key on the website "https://rapidtoolset.com/pt/tool/rsa-key-pair-generator"
# Never use website RSA key generator for deployed projects.
#
# 1. After generating 2048 bits pem key, copy the whole key starting with -----BEGIN PRIVATE KEY----- and ending with -----END PRIVATE KEY-----
# 2. Create a new archive named private.pem and paste the "private key" inside it
# 2.1 Alternatively you can erase everything in this archive, paste the private RSA key and erase the ".example" in this file extension.
#