# Generate your key using:
# openssl genpkey -algorithm RSA -pkeyopt rsa_keygen_bits:2048 -out private.pem
# openssl rsa -in private.pem -pubout -out public.pem
#
# If the command above does not work, you can generate a key on the website "https://rapidtoolset.com/pt/tool/rsa-key-pair-generator" (or any other RSA key generator website)
#
# 1. After generating 2048 bits pem key, copy the whole key starting with -----BEGIN PUBLIC KEY----- and ending with -----END PUBLIC KEY-----
# 2. Create a new archive named public.pem and paste the "public key" inside it
#    Alternatively you can erase everything in this archive, paste the RSA public key and erase the ".example" in this file extension.
#
# Never use website RSA key generator for prod deployed projects.
