<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>

    <appender name="DEV_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} %-5level [%X{correlationId}] [%thread] %logger{36} - %msg%n%ex{full}
            </pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="DEV_CONSOLE"/>
    </root>

    <logger name="com.zaxxer.hikari" level="WARN"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate" level="WARN"/>
</configuration>
